{{define "layout/main"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO Human Resources</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>

<body>
    <header>
        <h1>GO HR</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/employees">Employees</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{if eq .CurrentTemplate "employees"}}
        {{template "embed-employees-list" .}}
        {{else if eq .CurrentTemplate "employee-create"}}
        {{template "embed-employee-create" .}}
        {{else if eq .CurrentTemplate "employee-edit"}}
        {{template "embed-employee-edit" .}}
        {{else if eq .CurrentTemplate "employee-view"}}
        {{template "embed-employee-view" .}}
        {{else if eq .CurrentTemplate "error"}}
        {{template "embed-error" .}}
        {{else}}
        {{template "embed-index" .}}
        {{end}}
    </main>

    <footer>
        <p>&copy; 2025 GO Human Resources</p>
    </footer>

    <script src="/static/scripts/index.js"></script>
</body>

</html>
{{end}}